/ConsoleAliensGame/nbproject/private/
/AlienInterfaces/nbproject/private/
/StockAliens/nbproject/private/
/GameEngine/nbproject/private/
/ConsoleShell/private/

/AlienInterfaces/build/
/StockAliens/build/
/ConsoleAliensGame/build/
/GameEngine/build
/ConsoleShell/build/

/ConsoleAliensGame/dist/
/AlienInterfaces/dist/
/StockAliens/dist/
/GameEngine/dist
/ConsoleShell/dist/

/StockAliens/nbproject/genfiles.properties
/ConsoleAliensGame/nbproject/genfiles.properties
/AlienInterfaces/nbproject/genfiles.properties
/GameEngine/nbproject/genfiles.properties
/ConsoleShell/nbproject/genfiles.properties

/AlienInterfaces/nbproject/build-impl.xml
/StockAliens/nbproject/build-impl.xml
/ConsoleAliensGame/nbproject/build-impl.xml
/GameEngine/nbproject/build-impl.xml
/ConsoleShell/nbproject/build-impl.xml

