/ConsoleAliensGame/nbproject/private/
/AlienInterfaces/nbproject/private/
/StockAliens/nbproject/private/
/GameEngine/nbproject/private/
/ConsoleShell/private/

/AlienInterfaces/build/
/StockAliens/build/
/ConsoleAliensGame/build/
/GameEngine/build
/ConsoleShell/build/

/ConsoleAliensGame/dist/
/AlienInterfaces/dist/
/StockAliens/dist/
/GameEngine/dist
/ConsoleShell/dist/

/StockAliens/nbproject/genfiles.properties
/ConsoleAliensGame/nbproject/genfiles.properties
/AlienInterfaces/nbproject/genfiles.properties
/GameEngine/nbproject/genfiles.properties
/ConsoleShell/nbproject/genfiles.properties

/AlienInterfaces/nbproject/build-impl.xml
/StockAliens/nbproject/build-impl.xml
/ConsoleAliensGame/nbproject/build-impl.xml
/GameEngine/nbproject/build-impl.xml
/ConsoleShell/nbproject/build-impl.xml

/logs/
/ALIENS/*

/drop/


ConsoleShell/nbproject/private/private.properties
ConsoleShell/nbproject/private/private.properties
ConsoleShell/nbproject/private/private.xml
ConsoleShell/nbproject/private/profiler/configurations.xml
/EphemeraWindowsShell/nbproject/private/
/EphemeraWindowsShell/build/
/EphemeraWindowsShell/dist/
/BubbleSortAndBinarySearch/nbproject/private/
/BubbleSortAndBinarySearch/build/
ConsoleShell/nbproject/private/config.properties
ConsoleShell/nbproject/private/private.properties
ConsoleShell/nbproject/private/private.properties
ConsoleShell/nbproject/private/private.xml
EphemeraWindowsShell/nbproject/jfx-impl.xml
EphemeraWindowsShell/nbproject/jfx-impl.xml
ConsoleShell/nbproject/private/private.properties
ConsoleShell/nbproject/private/private.properties
EphemeraWindowsShell/nbproject/jfx-impl_backup_2.xml
EphemeraWindowsShell/nbproject/jfx-impl.xml
/GUIShell/nbproject/private/
/GUIShell/build/
/GUIShell/dist/
ConsoleShell/nbproject/private/private.xml

ConsoleShell/nbproject/private/private.properties
ConsoleShell/nbproject/private/private.xml
GUIShell/nbproject/UPDATED.TXT
GUIShell/nbproject/jfx-impl_backup_3.xml

ConsoleShell/nbproject/private/private.xml

ConsoleShell/nbproject/private/private.xml
ConsoleShell/nbproject/private/private.properties
ConsoleShell/nbproject/private/private.xml
ConsoleShell/nbproject/private/private.xml
GUIShell/nbproject/jfx-impl_backup_5.xml
ConsoleShell/nbproject/private/private.properties
ConsoleShell/nbproject/private/private.properties
GUIShell/nbproject/jfx-impl.xml
GUIShell/nbproject/jfx-impl_backup_7.xml
GUIShell/nbproject/UPDATED.TXT
/CustomAlien/nbproject/private/
/CustomAlien/dist/
/CustomAlien/build/
/SpaceCritters/nbproject/private/
/SpaceCritters/build/
/SpaceCritters/dist/
/Aliens/CustomAlien/nbproject/private/
/Aliens/CustomAlien/build/
/Aliens/CustomAlien/dist/
/StockElements/nbproject/private/
/StockElements/build/
/StockElements/dist/
/ModelScaler/nbproject/private/
/ModelScaler/dist/
/ModelScaler/build/
ModelScaler/nbproject/
/SCServer/target/